---
import FilmCard from './FilmCard.astro';
import type { Film } from '../types';
import films from '../data/films.json';
---

<div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 xl:grid-cols-6 lg:grid-cols-4 gap-6 p-8 place-items-center">
  {films.map((film: Film) => (
    <FilmCard film={film} />
  ))}
</div>